*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

li{
    list-style-type: none;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 10vh ;
    align-items: center;
    background-color:lightsalmon;
    background-size: cover;
}

nav .logo{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    
}

nav .nav-links{
    display:flex;
    justify-content: space-around;
    width: 80%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;  

}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.header{
    text-align: center;
    color: aqua;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    line-height:70px;
}

.play-dictionary{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    line-height: 40px;
}

.logo13 {
    width: 63%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.h2{
    text-align: center;
    color: rgb(24, 0, 238);
}

.b12{
    background-color:teal;
    border: none !important;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0;
    height: 55px;
    position:fixed;
    left: 20%;
    top: 50%;
    cursor: pointer;
  }

.b13wt{
    background-color:transparent;
    border-width: 5px;
    border-color: palevioletred;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 0;
    position:fixed;
    cursor: pointer;
    left: 49%;
    top: 20%;
    height: 350px;
    width:250pt;
}

.b22{
    cursor: pointer;
    border-color: aqua;
    border-width: 6px;
}